<div class="container-fluid container-fluid-custom">
    <main>
        <div  class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    About Scribly
                </h1>
                <p class="fs-4 mb-4">
                    Scribly is a simple yet powerful Note-taking app designed to help you capture your thoughts, ideas and tasks effortlessly. Whether you are a student, professional, or simply someone who loves to jot down notes, Scribly is your perfect companion.
                </p>
                <h2 class="fs-4 mb-4">
                    STAY ORGANIZED. STAY FOCUSED.
                </h2>
                <a href="/auth/google" class="btn btn-primary btn-lg">Try Scribly, it's FREE!</a>
            </div>
        </div>
    </main>
</div>